# Copy contents of this file to .env file
# and enter values depending on your configuration.
# All variables are mandatory by default, if
# not explicitly stated optional

# --------------------------------------
# APP SETTINGS
# --------------------------------------
APP_PORT = 3000

# --------------------------------------
# POSTGRES CONNECTION SETTINGS
# --------------------------------------
POSTGRES_HOST = localhost
POSTGRES_PORT = 5432
POSTGRES_USER = postgres 
POSTGRES_PASSWORD = your-strong-password
POSTGRES_DB = postgres

# --------------------------------------
# JWT SECRET
# --------------------------------------
JWT_SECRET = your-jwt-secret

# --------------------------------------
# MINIO CONNECTION SETTINGS
# --------------------------------------
MINIO_HOST = localhost
MINIO_PORT = 9000
MINIO_ROOT_USER = minioadmin
MINIO_ROOT_PASSWORD = your-strong-password

# --------------------------------------
# MINIO BUCKETS
# --------------------------------------
MINIO_USERS_AVATARS_BUCKET = users-avatars

