# Copy contents of this file to .env file
# and enter values depending on your configuration

# --------------------------------------
# APP SETTINGS
# --------------------------------------
APP_PORT = 3000

# --------------------------------------
# POSTGRES CONNECTION SETTINGS
# --------------------------------------
POSTGRES_HOST = localhost
POSTGRES_PORT = 5432
POSTGRES_USER = postgres 
POSTGRES_PASSWORD = your-strong-password
POSTGRES_DB = postgres

# --------------------------------------
# JWT SECRET
# --------------------------------------
JWT_SECRET = your_jwt_secret